{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main" id="main">
        <div class="card"><a href="/scheme_list.html">Health and disease prevention</a></div>
        <div class="card"><a href="/scheme_list.html">Girl child protection</a></div>
        <div class="card"><a href="/scheme_list.html">Protection of Janani</a></div>
        <div class="card"><a href="/scheme_list.html">Finance and financial security for women</a></div>
        <div class="card"><a href="/scheme_list.html">Women entrepreneurship</a></div>
    </div>
{% endblock content %}

   