{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'css/scheme_list.css' %}>
{% endblock head %}

{% block content %}
    <div class="scheme">
            <h1 class="hprimary">Girl child protection</h1>
            <div class="scheme-list">
            <a href={% url "sdetail" %}>
                <div class="l-item">
                    <p class="header">Mukhyamantri Rajshri Yojana</p>
                    <p class="scheme-about">This scheme provides financial assistance to orphaned girl children, including those who have lost their parents due to accidents, natural disasters, or other unfortunate circumstances. It aims to support their education, healthcare, and overall development.</p>
                </div>
            </a>
            <a href={% url "sdetail" %}>
                <div class="l-item">
                        <p class="header">Childline Services</p>
                        <p class="scheme-about">Childline is a 24-hour toll-free helpline (1098) that provides assistance and support to children in distress. It offers immediate rescue and protection services to girl children facing abuse, exploitation, or any form of danger. </div>
                </div>
            </a>
    </div>
{% endblock content %}

